00_Maths and Coding - Fundamentals and Tricks for Revision/10_Common Patterns in Generating Combinations, Subsequences & Permutations.md

00_Maths and Coding - Fundamentals and Tricks for Revision/11_Visualizing the Complexity of the Branching Recursion.md

00_Maths and Coding - Fundamentals and Tricks for Revision/12_Using Recursive Tree to Derive Time Complexity.md

07_Recursion and Dynamic Programming/004_3720. Lexicographically Smallest Permutation Greater Than Target/01_Optimal_Recursive_Backtracking_Approach.cpp